﻿.panel {
    border: 1px solid #fff;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}
.section{
    padding:70px 0;
   
}
.card-collapse {
    margin: 0;
}

    .card-collapse, .card-collapse .card-header {
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
    }

.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    width: 100%;
    
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
}

.card {
    font-size: .875rem;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#collapseTwo {
    overflow: hidden;
}
#collapseTwo2{
    overflow:hidden;
}
.mb-0 a {
    color: #303030;
    display: block;
    padding-left: 20px;
    font-size: 15px;
}
.mb-0 a i {
    float: right;
    right:20px;
    position: relative;
}
.form-check{
    padding-top:15px;
    padding-left:20px;
    font-size:13px;
}
.list_product li {
    width: 30%;
    float: left;
    margin-right: 23px;
    
}
ul {
    list-style: none;
    padding: 0px;
}