﻿body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
}

.jumbotron {
    background: #2e3844;
    color: #fff;
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

    .carousel-indicators li.active {
        background-color: #f4511e;
    }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #f4511e;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

    .panel-footer h3 {
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }

.navbar {
    background: #2e3844;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

.img-qc {
    width: 100%;
}

.qc-items {
    margin-bottom: 30px;
}
/*----pots----*/
.pots-items {
    padding: 20px;
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: 30% 70%: box-sizing: border-box;
}

    .pots-items h4 {
        text-align: left;
        grid-column: 1/3;
    }

    .pots-items img {
        grid-column: 1/2;
        width: 100%;
    }

    .pots-items .short-description {
        grid-column: 2;
        width: 100%;
        text-align: left;
    }

/*----pots----*/
.tab-content ul li {
    float: left;
    width: 22%;
    border: solid 1px #e4e4e4;
    list-style-type: none;
    margin-right: 30px;
}
/*---San Pham----*/
.information 
{
    background: #f9f9f9;
    width: 100%;
    padding: 0 16px 20px 16px;
}
#header {
    width: 100%;
    height: 60px;
    float: left;
    position: relative;
    z-index: 1001;
    background: #fff;
    top: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

@media screen and (min-width: 1440px) .block-container {
    max-width: 1000px!important;
    margin: 0 auto!important;
}

.block-container {
    position: relative;
}

.header-share-nav {
    width: 100%;
    height: 0;
    visibility: hidden;
    background: #fff;
    position: absolute;
    overflow: hidden;
    padding-top: 25px;
    top: 59px;
    z-index: 1000;
    transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -webkit-transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -moz-transition: all .3s cubic-bezier(.46,.03,.52,.96);
}

#header .logo-wrapper {
    float: left;
}

    #header .logo-wrapper .ssg-logo {
        line-height: 60px;
        margin-right: 45px;
    }

    #header .logo-wrapper a {
        width: 200px;
        height: 60px;
        display: block;
        background: url(/css/images/logo_vn.svg) no-repeat center center;
        background-size: 100%;
    }

#header .nav-btn-wrapper {
    float: left;
}

    #header .nav-btn-wrapper .nav-btn {
        line-height: 60px;
        color: #333;
        font-size: 14px;
        cursor: pointer;
    }

#header .hambuger-btn {
    border: 1px solid #888;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 13px;
    float: left;
}

#header .nav-btn-wrapper .nav-label {
    float: left;
    padding-left: 8px;
    line-height: 17px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 600;
}

#header .hambuger-btn-inner {
    width: 19px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

    #header .hambuger-btn-inner div:not(:last-child) {
        margin-bottom: 4px;
    }

    #header .hambuger-btn-inner div {
        margin: auto;
        text-align: center;
        height: 2px;
        background-color: #888;
    }

#header .search-wrapper {
    width: 48%;
    float: left;
    position: relative;
    margin-left: 45px;
}

#header .search-control {
    width: 100%;
    float: left;
    margin-top: 11px;
    border: 1px solid #888;
    border-radius: 18px;
    position: relative;
}

    #header .search-control input[type=search] {
        width: 86%;
        padding: 7px;
        margin-left: 20px;
        border: none;
    }

input[type=search] {
    height: 34px;
}

#header .search-control button {
    width: 34px;
    height: 34px;
    outline: 0;
    background: 0 0;
    border: none;
    right: 3px;
    position: absolute;
}

#header .header-search-result {
    width: 100%;
    position: absolute;
    min-height: 0;
    height: 0;
    visibility: hidden;
    background: #fff;
    z-index: 1001;
    top: 100%;
    overflow: hidden;
}

#header .promo-site-wrapper {
    width: 106px;
    float: right;
    position: relative;
    height: 60px;
    margin-left: 8px;
}

#header .user-wrapper {
    float: right;
}

#header .promo-site-wrapper a {
    width: 106px;
    color: #e5173e;
    font-weight: 600;
    border-radius: 99990px;
    border: 1px solid #e5173e;
    padding: 5px 10px;
    text-align: center;
}

.align-center-div__child {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.header-share-nav {
    width: 100%;
    height: 0;
    visibility: hidden;
    background: #fff;
    position: absolute;
    overflow: hidden;
    padding-top: 25px;
    top: 59px;
    z-index: 1000;
    transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -webkit-transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -moz-transition: all .3s cubic-bezier(.46,.03,.52,.96);
}

@media screen and (min-width: 1440px) .block-container {
    max-width: 1000px!important;
    margin: 0 auto!important;
}

.block-container {
    position: relative;
}

.header-share-nav ul.nav-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-share-nav .nav-header {
    font-weight: 600;
    padding: 6px 0;
}

.header-share-nav ul.nav-wrapper.nav-root .nav-item {

}

.header-share-nav ul.nav-wrapper.nav-root .nav-item > a {
    font-weight: 400;
}

.header-share-nav ul.nav-wrapper .nav-item a {
    display: block;
    font-size: 16px;
    color: #333;
}

.header-share-nav ul.nav-wrapper.nav-child {
    display: none;
}

    .header-share-nav ul.nav-wrapper.nav-child .nav-item.sticky a {
        font-weight: 600;
        color: #333 !important;
    }

    .header-share-nav ul.nav-wrapper.nav-child {
        padding-left: 25px;
    }

    .header-share-nav ul.nav-wrapper.nav-child {
        display: none;
    }

    .header-share-nav ul.nav-wrapper.nav-child {
        padding-left: 25px;
    }

    .header-share-nav ul.nav-wrapper.nav-child {
        display: none;
    }

#page-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    display: none;
}

.header-share-nav.panel-open {
    height: 480px;
    visibility: visible;
}

.lz-big-banners {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    padding:30px;
}

.lz-big-banners .banner {
    width: calc((100% - 9px)/ 3);
    padding: 3px;
    float: left;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.logo-wrapper {
    width:150px;
    margin-right:50px;

}
#header .logo-wrapper a img{
    width: 150px;
}
#header .logo-wrapper a{
    width:150px;
}
#header .logo-wrapper .ssg-logo {
  
    width: 150px;
}

.nav-item{
    clear: both;
}

.sub-menu{
    display: none;
}

.nav-wrapper li:hover .sub-menu{
   display: block;
   float: left;
   position: absolute;
   margin-left: 200px;
   margin-top: -26px;
}