﻿#baiviet{
    padding-top: 100px;
}
.panel-heading {
    color: black !important;
    background-color: #fff !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel {
    border: 1px solid #fff;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}
.panel-body img {
    width: 30%;
    float:left;
}
.panel-body div {
    width: 62%;
    float:right
}