﻿#PrductDetail{
    padding:70px 0;
}
.product-info-container, .product-slide-container {
    width: 50%;
    float: left;
    padding: 0 0 50px 0;
}
.big-image {
    height: 400px;
    text-align: center;
    margin-top: 12px;
}
.big-image img {
    max-width: 100%;
    max-height: 100%;
}
.product-info-container {
    float: right;
    padding-left: 25px;
}
.product-info-container, .product-slide-container {
    width: 50%;
    float: left;
    padding: 0 0 50px 0;
}
.product-info-container > a {
    color: #333;
}
.product-short-desc {
    padding-top: 25px;
}
    .product-short-desc .short-desc {
        margin-bottom: 25px;
        color: #666;
    }
.priority-store {
    padding: 15px 0;
    border-top: 1px solid #ededed;
}
.priority-store .store-price {
    color: #0070c9;
    padding: 0 10px;
    font-weight: 400;
}
.priority-store .merchant-logo-wrapper {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 0 10px;
    float: none;
    vertical-align: middle;
}
ul{
    padding:0;
    list-style:none;
}
li{
    
    list-style:none;
}
.img-product{
    width:15%;
    display:inline-block;
}
.img-product img{
    width:50%;
}
.name-product {
    padding-top: 20px;
    text-align: center;
    width: 60%;
    display: inline-block;
}
.img-thuonghieu {
    width: 10%;
    display: inline-block;
}
.btndennoiban {
    width: 10%;
    display: inline-block;
}
.list-product {
    padding: 10px 0px;
    border-bottom: 1px solid #666;

    
}


