﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="posts.aspx.cs" Inherits="GUI.posts" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href="assets/public/css/home.css" rel="stylesheet" />
    <link href="assets/public/css/posts.css" rel="stylesheet" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="baiviet">
		<div class="container">
			<div class="row">
                    <asp:FileUpload ID="FileUpload1" runat="server" Width="348px" Height="27px" />
                    <asp:Button ID="btnUpload" runat="server" Text="Upload" Height="27px" OnClick="btnUpload_Click" />
                    <asp:Image ID="Image1" runat="server" Width="150px" />
				<div class="col-md-8 content">
                    <a href="#">
                        <div class="panel panel-default">
						    <div class="panel-heading">
							    <h3 class="panel-title">Tiêu đề bài biết</h3>
						    </div>
						    <div class="panel-body">
                                <img src="https://img.sosanhgia.com/images/494x0/a5e48d1bb929476e9a2a0ee089140fc9/image.jpeg" alt="Alternate Text" />
                                <div>Bootstrap provides 260 glyphicons from the Glyphicons Halflings set.Glyphicons can be used in text, buttons, toolbars, navigation, forms, etc.Here are some examples of glyphicons:</div>
						    </div>
					    </div>
                    </a>
                    <a href="#">
                        <div class="panel panel-default">
						    <div class="panel-heading">
							    <h3 class="panel-title">Tiêu đề bài biết</h3>
						    </div>
						    <div class="panel-body">
                                <img src="https://img.sosanhgia.com/images/494x0/a5e48d1bb929476e9a2a0ee089140fc9/image.jpeg" alt="Alternate Text" />
                                <div>Bootstrap provides 260 glyphicons from the Glyphicons Halflings set.Glyphicons can be used in text, buttons, toolbars, navigation, forms, etc.Here are some examples of glyphicons:</div>
						    </div>
					    </div>
                    </a>
				</div>
				<div class="col-md-4 sidebar">
					<div class="panel panel-info newpost">
						<div class="panel-heading">
							<h3 class="panel-title">Bài viết mới</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li><a href="">Bài viết số 1</a></li>
								<li><a href="">Bài viết số 2</a></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</asp:Content>
