﻿#header {
    width: 100%;
    height: 60px;
    float: left;
    position: relative;
    z-index: 1001;
    background: #fff;
    top: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
@media screen and (min-width: 1440px) .block-container {
    max-width: 1000px!important;
    margin: 0 auto!important;
}
.block-container {
    position: relative;
}
.header-share-nav {
    width: 100%;
    height: 0;
    visibility: hidden;
    background: #fff;
    position: absolute;
    overflow: hidden;
    padding-top: 25px;
    top: 59px;
    z-index: 1000;
    transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -webkit-transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -moz-transition: all .3s cubic-bezier(.46,.03,.52,.96);
}

#header .logo-wrapper {
    float: left;
}
#header .logo-wrapper .ssg-logo {
    line-height: 60px;
    margin-right: 45px;
}
#header .logo-wrapper a {
    width: 200px;
    height: 60px;
    display: block;
    background: url(/css/images/logo_vn.svg) no-repeat center center;
    background-size: 100%;
}
#header .nav-btn-wrapper {
    float: left;
}
#header .nav-btn-wrapper .nav-btn {
    line-height: 60px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
#header .hambuger-btn {
    border: 1px solid #888;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 13px;
    float: left;
}
#header .nav-btn-wrapper .nav-label {
    float: left;
    padding-left: 8px;
    line-height: 17px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 600;
}
#header .hambuger-btn-inner {
    width: 19px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}
    #header .hambuger-btn-inner div:not(:last-child) {
        margin-bottom: 4px;
    }
    #header .hambuger-btn-inner div {
        margin: auto;
        text-align: center;
        height: 2px;
        background-color: #888;
    }

#header .search-wrapper {
    width: 48%;
    float: left;
    position: relative;
    margin-left: 45px;
}
#header .search-control {
    width: 100%;
    float: left;
    margin-top: 11px;
    border: 1px solid #888;
    border-radius: 18px;
    position: relative;
}
    #header .search-control input[type=search] {
        width: 86%;
        padding: 7px;
        margin-left: 20px;
        border: none;
    }
input[type=search] {
    height: 34px;
}
#header .search-control button {
    width: 34px;
    height: 34px;
    outline: 0;
    background: 0 0;
    border: none;
    right: 3px;
    position: absolute;
}
#header .header-search-result {
    width: 100%;
    position: absolute;
    min-height: 0;
    height: 0;
    visibility: hidden;
    background: #fff;
    z-index: 1001;
    top: 100%;
    overflow: hidden;
}
#header .promo-site-wrapper {
    width: 106px;
    float: left;
    position: relative;
    height: 60px;
    margin-left: 8px;
}
#header .user-wrapper {
    float: right;
}
#header .promo-site-wrapper a {
    width: 106px;
    color: #e5173e;
    font-weight: 600;
    border-radius: 99990px;
    border: 1px solid #e5173e;
    padding: 5px 10px;
    text-align: center;
}
.align-center-div__child {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.header-share-nav {
    width: 100%;
    height: 0;
    visibility: hidden;
    background: #fff;
    position: absolute;
    overflow: hidden;
    padding-top: 25px;
    top: 59px;
    z-index: 1000;
    transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -webkit-transition: all .3s cubic-bezier(.46,.03,.52,.96);
    -moz-transition: all .3s cubic-bezier(.46,.03,.52,.96);
}

@media screen and (min-width: 1440px) .block-container {
    max-width: 1000px!important;
    margin: 0 auto!important;
}
.block-container {
    position: relative;
}
.header-share-nav ul.nav-wrapper {
    width: 25%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}
.header-share-nav .nav-header {
    font-weight: 600;
    padding: 6px 0;
}
.header-share-nav ul.nav-wrapper.nav-root .nav-item {
    width: 25%;
    float:left;
    text-align:center;
}
    .header-share-nav ul.nav-wrapper.nav-root .nav-item > a {
        font-weight: 400;
    }
.header-share-nav ul.nav-wrapper .nav-item a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 6px 0;
}
.header-share-nav ul.nav-wrapper.nav-child {
    display: none;
}
.header-share-nav ul.nav-wrapper {
    width: 25%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}
    .header-share-nav ul.nav-wrapper.nav-child .nav-item.sticky a {
        font-weight: 600;
        color: #333 !important;
    }
    .header-share-nav ul.nav-wrapper.nav-child {
        padding-left: 25px;
    }

    .header-share-nav ul.nav-wrapper.nav-child {
        display: none;
    }

.header-share-nav ul.nav-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}
    .header-share-nav ul.nav-wrapper.nav-child {
        padding-left: 25px;
    }

    .header-share-nav ul.nav-wrapper.nav-child {
        display: none;
    }

.header-share-nav ul.nav-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}
#page-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    display: none;
}
.header-share-nav.panel-open {
    height: 480px;
    visibility: visible;
}
.lz-big-banners {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
}
    .lz-big-banners .banner {
        width: calc((100% - 9px)/ 3);
        padding: 3px;
        float: left;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }