﻿.card-user .image {
    height: 130px;
}
.card .image {
    overflow: hidden;
    height: 200px;
    position: relative;
}
.card-user .image img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.card-user .card-body {
    min-height: 240px;
}

.card .card-body {
    padding: 15px 15px 10px 15px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -77px;
}
.card-user .author a {
    color: #51cbce;
}
.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 1px solid #FFFFFF;
    position: relative;
}
.card-user .title {
    font-weight: 700;
}
p.description {
    font-size: 1.14em;
}
.description {
    color: #9A9A9A;
    font-weight: 300;
}
.card-user .author a + p.description {
    margin-top: -7px;
}